$theme-color: #00c2ad;
$active-link-color: #00aa99;
$white-color: #fff;
$white-color2: #ffffffde;
$white-color3: #f8f8f8;
$app-primary-color: red;

$primaryPink: #ff3d99;
$black: #000000;
$primaryBlack: #0d0d39;
$primaryHeadingColor: #311038;
$primaryRed: #ff0476;
$textPink: #efa1c6;
$primaryBlue: rgb(2, 126, 251);
$lightBlue: #dee7f1;
$primaryDarkBlue: #227dc7;
$primaryGreen: #36ba7f;
$primaryGreenLight: #6aecb1;
$initalStepGrey: #909090;
$lightSky: #1c9fff1f;
$lightNavy: #006cbc;
$textGreen: #007b2a;
$bgGreen: #00cb451f;
$textRed: #bc0000;
$bgRed: #ff1c1c1f;

$lightGray: #ebebeb;
$lightGray2: #707070;
$lightGray3: #e5e5e5;
$lightGray4: #fafafa;
$lightGray5: #d3d3d3;
$colorTextGrey: #a0a0a0;
$colorTextGrey2: #acacac;
$colorTextGrey3: #5f5b5b;
$colorTextGrey4: #00000029;

$gray: #8c8781;
$gray2: #00000099;
$gray3: #e3e3e3;
$lightGrayBG: #f4f4f4;
$faqContent: #585858;
$dividerColor: rgba(0, 0, 0, 0.12) !default;
$text: #696969;
$title: #464646;
$subtitle: #545454;
$categoryTitle: #161616;
$tint: #4d226d;
$listColor: rgba(255, 107, 114, 0.53);
$lightBlack: #2b2b2b;
$lightBlack2: #383434;
$lightBlack3: #454444;
$description: #bbbbbb;
$white: #ffffff;
$greyBG: #f0f0f0;
$primaryPlaceholder: #874cb073;
$background: "#f2f2f2";
$primaryColor: #4d286e;
$lightPrimaryColor: #996cc3;
$primaryTextColor: #274b74;
$lightPink: #ffe7f3;
$primaryActiveTextColor: #064154;
$borderColor: #c2c1c0;
$borderColor2: #c4c4c4;
$borderLight: #e2e2e2;
$error: #e00000;
$errorBorder: #f44336;
$initalStepLightPink: #31103880;
$btnPink: #ff4ca1;
$btnDarkPink: #d8277b;
//$error: #f44336;#FF6E3A

//$primaryGreenLight: rgba(106, 236, 177, 0.43);
$greenBg: #dafeee;
$cardTextColor: #4b686e;
$capitalize: capitalize;
$uppercase: uppercase;

//Font-Family

$font-poppins-medium: "Poppins Medium";
$font-poppins-medium-serif: "Poppins Medium", sans-serif;
$font-poppins-bold: "Poppins Bold";
$font-poppins-bold-serif: "Poppins Bold", sans-serif;
$font-poppins-semibold: "Poppins Semi Bold";
$font-poppins-semibold-serif: "Poppins Semi Bold", sans-serif;
$font-poppins-regular: "Poppins Regular";
$font-poppins-regular-serif: "Poppins Regular", sans-serif;
$font-poppins-light-serif: "Poppins Light", sans-serif;

$full-width: 100% !default;
$standard-width: 75% !default;
$small-width: 25% !default;

$pt: "../../assets/images/Path8573.svg";

$v5: 5px;
$v10: 10px;
$v12: 12px;
$v15: 15px;
$v20: 20px;
$v25: 25px;
$v30: 30px;
$v35: 35px;
$v40: 40px;
$v50: 50px;
$v55: 55px;
$v60: 60px;
$v65: 65px;
$v70: 70px;
$v80: 80px;
$v90: 90px;
$v100: 100px;
$v110: 110px;
